Binaries
DerivedDataCache
Intermediate
PackagedBuilds
Saved
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
BuiltVersions
Build/*
!Build/Android
.DS_Store
Content/Splash/EdSplash.uasset